<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <!-- CSS読み込み -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/login/login.css}">
        <!-- JS読み込み -->
        <script th:src="@{/webjars/jquery/jquery.min.js}" defer/>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer/>
        <title>ログイン</title>
    </head>
    <body class="bg-light">
        <div class="text-center">

        </div>

    </body>
</html>